@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(217, 217, 217, 0.8); }
  .ibg._loaded .loading-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%); }

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  font-family: Arial; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kzaffo");
  src: url("../fonts/icomoon.eot?kzaffo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kzaffo") format("truetype"), url("../fonts/icomoon.woff?kzaffo") format("woff"), url("../fonts/icomoon.svg?kzaffo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pointer:before {
  content: "\e900"; }

.icon-search:before {
  content: "\e901"; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 920px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.header {
  background: black;
  padding: 17px 0;
  position: relative;
  z-index: 1000; }
  .header .container {
    width: 100%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 148px;
  flex: 0 0 148px;
  position: relative;
  z-index: 10; }
  .header__logo img {
    width: 100%; }
  @media (max-width: 1064px) {
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px; } }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 920px) {
    .header__list {
      position: fixed;
      display: block;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%; } }

.header__link a {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  padding: 0 12px; }
  @media (max-width: 1064px) {
    .header__link a {
      padding: 0 6px;
      font-size: 14px;
      line-height: 18px; } }
  @media (max-width: 920px) {
    .header__link a {
      font-size: 24px;
      line-height: 28px;
      padding: 0; } }

@media (max-width: 920px) {
  .header__link {
    margin-bottom: 12px; } }

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 310px;
  flex: 0 0 310px; }
  @media (max-width: 1064px) {
    .header-buttons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
      flex: 0 0 250px; } }
  @media (max-width: 767px) {
    .header-buttons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px; } }

.header-form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 40px;
  background: #313131;
  border-radius: 50px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .header-form {
      position: fixed;
      height: 65px;
      top: 65px;
      width: 1200px;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(0.8);
      -ms-transform: translateX(-50%) scale(0.8);
      transform: translateX(-50%) scale(0.8);
      opacity: 0;
      pointer-events: none;
      visibility: visible;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; } }
  @media (max-width: 767px) and (max-width: 1240px) {
    .header-form {
      width: calc(300px + 900 * ((100vw - 320px) / 920)); } }
  .header-form._active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 80px;
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); }

.header-form__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  padding-left: 23px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff; }

.header-form__button {
  background: none;
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.header-buttons__button-form {
  font-size: 20px;
  color: #fff; }
  @media (min-width: 767px) {
    .header-buttons__button-form {
      display: none;
      max-height: 0;
      max-width: 0; } }

.header-buttons__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-left: 12px; }

.menu__icon {
  display: none; }

@media (max-width: 920px) {
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 14px; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: white; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 0; }
  .menu__icon::after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
    background: #fff; }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
    background: #fff; }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
    background: #fff; }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 100px 15px 30px 15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: auto; }
  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 74px;
    background: black;
    opacity: 0;
    pointer-events: none;
    visibility: hidden; }
  .menu__body._active:before {
    opacity: 1;
    pointer-events: auto;
    visibility: visible; }
  .menu__body._active {
    right: 0; } }

.project {
  padding: 60px 0; }

.project__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #000;
  margin-bottom: 40px; }

.project-header {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 22px; }
  @media (max-width: 767px) {
    .project-header {
      display: block; } }

.project-header__text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000; }
  .project-header__text span.project-header__text_big {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px; }
  .project-header__text span.icon-pointer {
    font-size: 8px;
    display: inline-block;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }
  @media (max-width: 767px) {
    .project-header__text {
      margin-bottom: 16px; } }

.project-header__links {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  padding-left: 20px; }
  @media (max-width: 767px) {
    .project-header__links {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-left: 0px; } }

.project-header__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  background: #0075ff;
  border: 1px solid #0075ff;
  border-radius: 15px;
  padding: 3px 12px;
  margin-left: 12px;
  margin-bottom: 12px; }
  .project-header__link.project-header__link_black {
    background: black;
    border: 1px solid black; }
  .project-header__link.project-header__link_border {
    background: rgba(0, 117, 255, 0);
    border: 1px solid #0075ff;
    color: #0075ff; }
  @media (max-width: 767px) {
    .project-header__link {
      margin-left: 0;
      margin-right: 6px;
      margin-bottom: 6px; } }

.project__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1064px) {
    .project__body {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.project-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-bottom: 2%; }
  @media (max-width: 1064px) {
    .project-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%; } }
  @media (max-width: 767px) {
    .project-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }
  @media (min-width: 1064.1px) {
    .project-block {
      margin-right: 2%; }
      .project-block:nth-child(3n) {
        margin-right: 0; } }

.project-block__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  position: relative;
  z-index: 2; }
  .project-block__title.project-block__title_green {
    color: #00d715; }
  .project-block__title.project-block__title_yellow {
    color: #ff9900; }
  .project-block__title.project-block__title_blue {
    color: #0075ff; }
  .project-block__title.project-block__title_red {
    color: red; }

.project-block__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000;
  position: relative;
  z-index: 2; }

.project-block-header {
  padding: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px; }
  .project-block-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }

.project-block-header__links {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 75px; }

.project-block-header__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #0075ff;
  background: #fff;
  border-radius: 15px;
  padding: 3px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  position: relative;
  z-index: 2; }

.project-block-header__title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  position: relative;
  z-index: 2; }

.project-block__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px; }
  @media (max-width: 360px) {
    .project-block__wrapper {
      display: block; } }

.project-block-days {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px; }
  .project-block-days > *:last-child {
    margin-bottom: 4px; }

.project-block-days__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000; }
  .project-block-days__title.project-block-days__title_green {
    color: #00d715; }

.project-block-days__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000; }

.project-block-interest {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px;
  position: relative;
  overflow: hidden; }
  .project-block-interest:before {
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    background: #d4d4d4; }
  .project-block-interest.project-block-interest_5:before {
    width: 5%; }
  .project-block-interest.project-block-interest_10:before {
    width: 10%; }
  .project-block-interest.project-block-interest_15:before {
    width: 15%; }
  .project-block-interest.project-block-interest_20:before {
    width: 20%; }
  .project-block-interest.project-block-interest_25:before {
    width: 25%; }
  .project-block-interest.project-block-interest_30:before {
    width: 30%; }
  .project-block-interest.project-block-interest_35:before {
    width: 35%; }
  .project-block-interest.project-block-interest_40:before {
    width: 40%; }
  .project-block-interest.project-block-interest_45:before {
    width: 45%; }
  .project-block-interest.project-block-interest_50:before {
    width: 50%; }
  .project-block-interest.project-block-interest_55:before {
    width: 55%; }
  .project-block-interest.project-block-interest_60:before {
    width: 60%; }
  .project-block-interest.project-block-interest_65:before {
    width: 65%; }
  .project-block-interest.project-block-interest_70:before {
    width: 70%; }
  .project-block-interest.project-block-interest_75:before {
    width: 75%; }
  .project-block-interest.project-block-interest_80:before {
    width: 80%; }
  .project-block-interest.project-block-interest_85:before {
    width: 85%; }
  .project-block-interest.project-block-interest_90:before {
    width: 90%; }
  .project-block-interest.project-block-interest_95:before {
    width: 95%; }
  .project-block-interest.project-block-interest_100:before {
    width: 100%; }
  .project-block-interest.project-block-interest_green:before {
    background: #d7ffdb; }
  .project-block-interest.project-block-interest_yellow:before {
    background: #ffeed3; }
  .project-block-interest.project-block-interest_blue:before {
    background: #d7ecff; }
  .project-block-interest.project-block-interest_red:before {
    background: #ffd7d7; }

.project-block-interest__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  margin-bottom: 4px;
  position: relative;
  z-index: 2; }

.project-block-interest__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000;
  position: relative;
  z-index: 2; }

.project-block-status {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 59%;
  flex: 0 0 59%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px; }

.project-block-status__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  margin-bottom: 4px; }

.project-block-status__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000; }

.project-block-tasks {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 39%;
  flex: 0 0 39%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px; }
  .project-block-tasks .project-block__title span {
    color: #000 !important; }

.project-block-tasks__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  margin-bottom: 4px; }

.project-block-tasks__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000; }

.project-block-dates {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 39%;
  flex: 0 0 39%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px; }

.project-block-dates__tetle {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  margin-bottom: 4px; }

.project-block-dates__text {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  color: #000; }

.project-block-dates__margin {
  margin-bottom: 8px; }

.project-block-team {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 59%;
  flex: 0 0 59%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.project-block-team__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  padding-right: 8px; }

.project-block-team__title {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  margin-bottom: 4px; }

.project-block-team__text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #000;
  margin-bottom: 8px; }

.project-block-team__list span {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  color: #000; }

.project-block-team__link {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  color: #0075ff; }

.project-block-team-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  background: black;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 12px 7px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.project-block-team-img__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-transform: translateX(9.5px);
  -ms-transform: translateX(9.5px);
  transform: translateX(9.5px); }

.project-block-team-img__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 9.5px;
  flex: 0 0 9.5px;
  max-width: 9.5px;
  position: relative; }
  .project-block-team-img__item span {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid white;
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.project-block-team-img__item:nth-child(1) {
  z-index: 10; }

.project-block-team-img__item:nth-child(2) {
  z-index: 9; }

.project-block-team-img__item:nth-child(3) {
  z-index: 8; }

.project-block-team-img__item:nth-child(4) {
  z-index: 7; }

.project-block-team-img__item:nth-child(5) {
  z-index: 6; }

.project-block-team-img__item:nth-child(6) {
  z-index: 5; }

.project-block-team-img__item:nth-child(7) {
  z-index: 4; }

.project-block-team-img__item:nth-child(8) {
  z-index: 3; }

.project-block-team-img__item:nth-child(9) {
  z-index: 2; }

.project-block-team-img__item:nth-child(10) {
  z-index: 1; }

.project-block-team-img__text {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 600;
  line-height: 8px;
  color: #fff; }

.editing {
  padding: 60px 0; }

.editing__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #000;
  margin-bottom: 40px; }
  @media (max-width: 1240px) {
    .editing__title {
      font-size: calc(18px + 30 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .editing__title {
      line-height: calc(24px + 35 * ((100vw - 320px) / 920)); } }

.editing__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1064px) {
    .editing__wrapper {
      display: block; } }

.editing-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  padding: 0 23px; }
  @media (max-width: 1064px) {
    .editing-panel {
      padding: 0; } }

.editing-panel-input__title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #464646;
  margin-bottom: 7px; }

.editing-panel-input__item {
  background: #ededed;
  height: 50px;
  width: 100%;
  display: block;
  border-radius: 10px;
  padding: 0 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  margin-bottom: 12px; }
  .editing-panel-input__item.editing-panel-input__item_big {
    height: 71px; }

textarea.editing-panel-input__item {
  height: 100px;
  padding-top: 18px; }

.editing-panel-input__item_icon {
  position: relative; }
  .editing-panel-input__item_icon:before {
    position: absolute;
    top: 22px;
    right: 12px;
    font-size: 8px; }

.editing-panel__line {
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 12px; }

.editing-panel-link {
  margin-bottom: 12px; }
  .editing-panel-link.editing-panel-link_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  @media (max-width: 767px) {
    .editing-panel-link {
      display: block !important; }
      .editing-panel-link > * {
        margin-bottom: 6px; } }

.editing-panel-link__title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  margin-bottom: 4px; }

.editing-panel-link__content {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
  color: #0075ff; }
  .editing-panel-link__content.editing-panel-link__content_black {
    color: #000; }

.editing-panel-input__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .editing-panel-input__body.editing-panel-input__body_50-50 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%; }
  .editing-panel-input__body.editing-panel-input__body_80-20 > *:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }

.editing-panel-input__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #0075ff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0075ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px; }

.editing-panel-input__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  background: #ededed;
  margin-left: 12px;
  border-radius: 10px;
  position: relative; }
  .editing-panel-input__button:before, .editing-panel-input__button:after {
    content: "";
    background: #0075ff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .editing-panel-input__button:before {
    height: 20px;
    width: 3px; }
  .editing-panel-input__button:after {
    width: 20px;
    height: 3px; }

.editing-panel-data {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px; }
  @media (max-width: 420px) {
    .editing-panel-data {
      display: block; } }

.editing-panel-data__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.editing-panel-data__title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  margin-bottom: 4px; }

.editing-panel-data__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #0075ff; }
  .editing-panel-data__text.editing-panel-data__text_black {
    color: #000; }

.editing-panel-checkbox {
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 12px; }
  .editing-panel-checkbox input {
    display: none; }
  .editing-panel-checkbox input:checked + label:after {
    left: 16px;
    background: #fff; }
  .editing-panel-checkbox input:checked + label:before {
    background: #0075ff; }
  .editing-panel-checkbox label {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .editing-panel-checkbox label:before {
    content: "";
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29px;
    flex: 0 0 29px;
    height: 15px;
    background: #ededed;
    opacity: 0.9;
    border-radius: 35px;
    margin-right: 6px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .editing-panel-checkbox label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #0050ff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

.editing-panel-input__status {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #000;
  padding: 3px 6px 3px 25px;
  border-radius: 6px;
  background: #d4d4d4;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  margin-right: 12px; }
  .editing-panel-input__status:before {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 5px; }
  .editing-panel-input__status.editing-panel-input__status_none {
    background: rgba(212, 212, 212, 0) !important;
    height: 15px; }
  .editing-panel-input__status.editing-panel-input__status_none:before {
    top: 50%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%); }
  .editing-panel-input__status.editing-panel-input__status_bacgraund-none {
    background: #d4d4d4 !important; }
  .editing-panel-input__status.editing-panel-input__status_green {
    background: #d7ffdb; }
  .editing-panel-input__status.editing-panel-input__status_green:before {
    background: #00d715; }
  .editing-panel-input__status.editing-panel-input__status_yellow {
    background: #ffeed3; }
  .editing-panel-input__status.editing-panel-input__status_yellow:before {
    background: #ff9900; }
  .editing-panel-input__status.editing-panel-input__status_blue {
    background: #d7ecff; }
  .editing-panel-input__status.editing-panel-input__status_blue:before {
    background: #0075ff; }

/*=============================================================*/
.editing-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58%;
  flex: 0 0 58%;
  padding-bottom: 120px; }
  @media (max-width: 1280px) {
    .editing-content {
      padding-right: 24px; } }

.editing-content__header {
  background: #d9d9d9;
  border-radius: 15px;
  margin-bottom: 12px; }

.input-field._active input {
  opacity: 1; }

.input-field input {
  border: 0px solid rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  background: none; }

.input-field._active .input-field__wrapper {
  opacity: 0;
  pointer-events: none; }

.input-field__body {
  position: relative;
  height: 300px;
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-size: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .input-field__body._error {
    border: 1px dashed rgba(255, 66, 0, 0.5) !important; }

.input-field input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  line-height: 200%;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0s ease 0s !important;
  -o-transition: all 0s ease 0s !important;
  transition: all 0s ease 0s !important;
  /*& * {
		position: relative;
		left: 15px;
	}*/ }

.input-field__wrapper {
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 18px;
  z-index: 10; }

.input-field__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  position: relative;
  text-decoration: underline;
  cursor: pointer; }

.input-field input::file-selector-button {
  max-width: 0px;
  display: none;
  pointer-events: none; }

.editing-content-sample {
  margin-bottom: 12px; }

.editing-content-sample__header {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  margin-bottom: 12px; }

.editing-content-sample__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .editing-content-sample__wrapper {
      display: block; }
      .editing-content-sample__wrapper > * {
        display: block;
        margin-left: 0 !important;
        margin-bottom: 12px; }
      .editing-content-sample__wrapper > *:last-child {
        display: block;
        width: 50px; } }

.editing-content-sample__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative; }
  .editing-content-sample__input input {
    background: #ededed;
    height: 50px;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 0 14px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: black; }

.editing-content-sample__link {
  border: 2px solid #0075ff;
  padding: 0 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 46px;
  color: #0075ff;
  border-radius: 10px;
  margin-left: 8px;
  height: 50px; }

.editing-content-sample__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  border: 2px solid #0075ff;
  border-radius: 10px;
  margin-left: 8px;
  position: relative; }
  .editing-content-sample__button:before, .editing-content-sample__button:after {
    content: "";
    background: #0075ff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .editing-content-sample__button:before {
    height: 20px;
    width: 3px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .editing-content-sample__button:after {
    width: 20px;
    height: 3px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }

.editing-content__line {
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 12px; }

.editing-content-task {
  margin-bottom: 12px;
  position: relative;
  z-index: 10; }
  .editing-content-task.editing-content-task__pading-left {
    padding-left: 42px; }
    @media (max-width: 767px) {
      .editing-content-task.editing-content-task__pading-left {
        padding-left: 12px; } }

.editing-content-task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px; }
  .editing-content-task-header * {
    margin: 0; }
  @media (max-width: 767px) {
    .editing-content-task-header {
      display: block; } }

.editing-content-task-header__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #464646; }
  @media (max-width: 767px) {
    .editing-content-task-header__text {
      margin-bottom: 6px; } }

.editing-content-task-header__item {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #000;
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  border: 1px solid #0075ff;
  display: inline-block;
  position: relative;
  margin-right: 12px; }

.editing-content-sample-panel._active .editing-content-sample-panel__wrapper {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 10; }
  @media (max-width: 767px) {
    .editing-content-sample-panel._active .editing-content-sample-panel__wrapper {
      top: 55px; } }

.editing-content-sample-panel._active .editing-content-sample-panel__button {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0); }

.editing-content-sample-panel._active .editing-content-sample-panel__button span {
  -webkit-transform: scale(0) translate(0px, -50%);
  -ms-transform: scale(0) translate(0px, -50%);
  transform: scale(0) translate(0px, -50%); }

.editing-content-sample-panel._active .editing-content-sample-panel__button-wrapper::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  -ms-transform: rotate(-45deg) translate(0px, -50%);
  transform: rotate(-45deg) translate(0px, -50%); }

.editing-content-sample-panel._active .editing-content-sample-panel__button-wrapper::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  -ms-transform: rotate(45deg) translate(0px, 50%);
  transform: rotate(45deg) translate(0px, 50%); }

.editing-content-sample-panel__button {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: white;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 10; }

.editing-content-sample-panel__button-wrapper {
  position: relative;
  top: 8px;
  left: 5px;
  width: 20px;
  height: 14px; }

.editing-content-sample-panel__button-wrapper span,
.editing-content-sample-panel__button-wrapper::before,
.editing-content-sample-panel__button-wrapper::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #777777; }

.editing-content-sample-panel__button-wrapper::before,
.editing-content-sample-panel__button-wrapper::after {
  content: ""; }

.editing-content-sample-panel__button-wrapper::before {
  top: 0; }

.editing-content-sample-panel__button-wrapper::after {
  bottom: 0; }

.editing-content-sample-panel__button-wrapper span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
  -ms-transform: scale(1) translate(0px, -50%);
  transform: scale(1) translate(0px, -50%); }

.editing-content-sample__reght-button {
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 42px; }

.editing-content-sample__reght-button_top {
  font-size: 6px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: rgba(0, 0, 0, 0.4); }

.editing-content-sample__reght-button_center {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  height: 10px; }

.editing-content-sample__reght-button_bottom {
  font-size: 6px;
  color: rgba(0, 0, 0, 0.4); }

.editing-content-sample-panel__wrapper {
  position: absolute;
  right: 12px;
  width: 250px;
  display: block;
  top: 8px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: white;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 12px;
  padding-right: 46px; }
  .editing-content-sample-panel__wrapper > * {
    display: block;
    margin-right: 0;
    margin-bottom: 6px; }

.editing-content-checkbox {
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 12px;
  background: #ececec;
  padding-left: 6px;
  border-radius: 5px; }
  .editing-content-checkbox input {
    display: none; }
  .editing-content-checkbox input:checked + label:after {
    opacity: 1; }
  .editing-content-checkbox input:checked + label:before {
    background: #0075ff; }
  .editing-content-checkbox label {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .editing-content-checkbox label:before {
    content: "";
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11px;
    flex: 0 0 11px;
    height: 11px;
    background: #ededed;
    border: 1px solid #0075ff;
    opacity: 0.9;
    border-radius: 3px;
    margin-right: 6px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 4px;
    position: relative; }
  .editing-content-checkbox label:after {
    content: "";
    width: 11px;
    height: 11px;
    opacity: 0.9;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 6px;
    background: url("../img/checkbox.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 6px;
    position: absolute;
    opacity: 0; }

.editing-content-sample-panel__delit {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .editing-content-sample-panel__delit img {
    width: 15px;
    margin-right: 6px; }
  .editing-content-sample-panel__delit span {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #464646; }

.editing-content-task-foter {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px; }
  @media (max-width: 767px) {
    .editing-content-task-foter {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.editing-content-task-foter__button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 12px; }
  @media (max-width: 767px) {
    .editing-content-task-foter__button {
      margin-bottom: 12px; } }

.editing-content-task-foter__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  background: #ededed;
  border-radius: 10px;
  position: relative;
  margin-right: 6px; }
  .editing-content-task-foter__content:before, .editing-content-task-foter__content:after {
    content: "";
    background: #0075ff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .editing-content-task-foter__content:before {
    height: 20px;
    width: 3px; }
  .editing-content-task-foter__content:after {
    width: 20px;
    height: 3px; }

.editing-content-task-foter__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #464646; }

.editing-content-img__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 12px; }
  .editing-content-img__list::-webkit-scrollbar {
    height: 3px; }
  .editing-content-img__list::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 0.5); }
  .editing-content-img__list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: block;
    max-height: 30px; }

.editing-content-img__preview {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  height: 90px;
  border-radius: 10px;
  background-image: url("../img/fale.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 12px; }
  .editing-content-img__preview input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }

.editing-content-img__button {
  border: 2px solid #0075ff;
  height: 50px;
  width: 180px;
  display: block;
  margin-top: 12px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0075ff;
  cursor: pointer; }

.editing-content-img__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  height: 90px;
  border-radius: 10px;
  margin-right: 12px; }

/*=============================*/
.editing-panel__title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
  margin-bottom: 12px; }
  @media (max-width: 1240px) {
    .editing-panel__title {
      font-size: calc(18px + 8 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .editing-panel__title {
      line-height: calc(22px + 10 * ((100vw - 320px) / 920)); } }

.editing-panel__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  margin-bottom: 12px; }

.editing-panel__list {
  margin-bottom: 12px; }

.editing-panel__item {
  display: block;
  padding-right: 17px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  padding-left: 16px;
  position: relative; }
  .editing-panel__item span {
    position: absolute;
    left: 0;
    top: 1px; }

.editing-panel-text-blok {
  margin-bottom: 12px; }

.editing-panel-text-blok__title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  margin-bottom: 6px; }

.editing-panel-text-blok__content {
  background: #ededed;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .editing-panel-text-blok__content.editing-panel-text-blok__content_text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    padding: 12px; }

.editing-panel-text-blok__item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
  padding: 3px 6px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px; }

/*=============================*/
.editing-content-header {
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 24px; }

.editing-content-header__link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  text-decoration: underline;
  text-align: right;
  display: block;
  margin-bottom: 180px; }

.editing-content-header__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .editing-content-header__list .project-block-days {
    background: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .editing-content-header__list .project-block-interest {
    background: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .editing-content-header__list .project-block-status {
    background: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .editing-content-header__list .project-block-tasks {
    background: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%; }
  @media (max-width: 767px) {
    .editing-content-header__list {
      display: block; }
      .editing-content-header__list > * {
        margin-bottom: 12px; } }

.editing-content-header__button {
  border: 2px solid #0075ff;
  height: 50px;
  width: 220px;
  display: block;
  margin-top: 12px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0075ff;
  cursor: pointer;
  margin-bottom: 24px; }

/*=========================*/
.editing-content-sample__input-text {
  background: #ededed;
  min-height: 50px;
  border-radius: 10px;
  padding: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000; }
  .editing-content-sample__input-text.editing-content-sample__input-text_none {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4); }
